.section1 {
	background-color: red;

}
.section2{
	background-color: blue;
}
.section3{
	background-color: yellow;
}
.headernav {
	background-color: green;
}
#intro {
	background-color: purple;
}

h2,h3 {
	color: blue;
}