.contact_top {

}
.header_content {

}
.section1 {

}
.headernav {
	
}


nav {
	display: flex;
	justify-content: space-around;
}
a{
	display: flex;
	object-position: left;
}
li{
	list-style: none;
}
span{
	font-weight: bold;
}
h2{
	
	display: inline-flex;
	justify-content: space-around;
}
.icons {
	display: flex;
	justify-content: space-around;
	align-items: baseline;

}