* { margin:0; padding:0; box-sizing:border-box; }

span {
	font-weight: bold;
}

.cnbutton {
	margin: 0px 50px 0px 0px;
	color: #fff;
	background-color: coral;
	text-decoration: none;
	padding: .5em 1em;
	display: inline-block;
}
body {
    background: url(images/colorstrip.png), #eee;
    background-repeat: repeat-x;
    padding-top: 0;
}

.section1 {
    float: left;
}
.section1 a {
	padding-left: 20px;
}

.section2 {
    float: right;
}

.section3 {
    text-align: center;
    margin-top: 2em;
    clear: both;
}

.section2 > * {
    display: inline-block;
    padding: .5em 1em;
    border-left: 1px solid;
}

.noline {
    border-left: none;
}

.section3 > * {
    width: 27.33%;
    margin: 3%;
    float: left;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    border-bottom: 2px solid rgba(0,0,0,.54);
}
.article {
	border-bottom: 2px solid rgba(0,0,0,.54);
}
.headernav li {
    float: left;
    margin: 0 1em;
}
ul.clearfix {

}

nav ul {
    list-style: none;
}

nav ul ul {
    display: none;
}

#shoutout {
	font-size: 60px;
	font-family: Georgia;
	color: #7594b7;
}
.shoutout a {
	border: solid;
}
#save {
	font-family: cursive;
}
#herobutton {
	padding: 20px;
}

.section1 p {
    display: inline-block;
}

.wrapper {
    max-width: 1200px;
    margin: 9px auto 0;
    background: #fff;
    padding: 2em;
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

.products {
	float: left;
	width: 25%;
	padding: 1em;
	text-align: center;
}
.products img {
	width: 70%;

}
.products a {
	padding: 5px;
	border: solid;
	background-color: red;
}
.hero {
	width: 100%;
	display: block;
}
header {
    border-bottom: 2px solid rgba(0,0,0,.54);
    padding: 1em 0;
}

#intro {
    position: relative;
    text-align: center;
}

#intro div {
    position: absolute;
    background: rgba(255,255,255,.5);
    height: 100%;
    padding: 2em;
    right: 7em;
    width: 20em;
}
.followus {
	float: left;
}
.footernav
 div {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}
